@font-face
	font-family 'free-components-autoComplateInput-iconfont'
	src url('../fonts/iconfont.eot')
	src url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg')
i.free-components-autoComplateInput-iconfont
	font-size 14px
	font-family 'free-components-autoComplateInput-iconfont' !important
	font-style normal
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	&:after
		display inline-block
	&.free-components-autoComplateInput-iconfont-loading
		display inline-block
		animation rotate 2s linear infinite
		&:after
			content '\e67c'
@keyframes rotate
	from
		transform rotate(0)
	to
		transform rotate(360deg)