@import 'iconfont.styl'
scrollBeautify()
	&::-webkit-scrollbar
		width 8px
		height 8px
	&::-webkit-scrollbar-track-piece
		background-color #EEEEEE
	&::-webkit-scrollbar-thumb
		border-radius 9px
		background-color #CCCCCC
	&::-webkit-scrollbar-thumb:hover
		background-color #BBBBBB
.free-components-autoComplateInput-wrapper
	position absolute
	margin-top 5px
	padding 10px 0
	border 1px solid #e4e7ed
	border-radius 4px
	background-color #FFFFFF
	box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.1)
	box-sizing border-box
	overflow-y auto
	scrollBeautify()
.free-components-autoComplateInput-loading
	height 20px
	line-height @height
	text-align center
	i.free-components-autoComplateInput-iconfont
		font-size 20px
		color #CCCCCC
.free-components-autoComplateInput-suggestions-item
	padding 5px 10px
	min-height 20px
	line-height @min-height
	font-size 14px
	word-break break-all
	cursor pointer
	&:hover
		background-color #f5f7fa